.session-form-container {
  height: 200px;
  margin-top: 10px;
}

.session-form input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid lightslategray;
  color: white;
}

.session-form input:focus {
  border-bottom: 1px solid white;
}

.session-form button {
  width: 100px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  padding: 7px 0 7px 0;
  border-radius: 3px;
  margin-top: 15px;
}