.main-page {
  text-align: center;
  margin: auto;
  width: 800px;
  height: 1000px;
  background-color: rgba(40, 44, 52, 0.5);
}

.main-div {
  width: 100%;
}

.main-page-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35vmin;
}

.main-page-header {
  background-color: rgba(40, 44, 52, 0.5);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 30px;
}

.main-page-link-container {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 140px;
  margin-left: 20px;
}
.main-page-link {
  color: #94e8ff;
  margin: 0 10px 0 10px;
  font-size: 18px;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
