.main-div {
  width: 100%;
}

.main-page-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35vmin;
}

.main-page-header {
  background-color: rgba(40, 44, 52, 0.5);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 30px;
}

.main-page-link-container {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 140px;
  margin-left: 20px;
}
.main-page-link {
  color: #94e8ff;
  margin: 0 10px 0 10px;
  font-family: 'minecraftmedium';
  font-size: 18px;
  margin: auto;
}

.main-page-username {
  font-family: 'minecraftmedium';
  font-size: 22px;
  margin: auto;
  color: rgba(201, 197, 197, 1);
}

.main-page {
  text-align: center;
  margin: auto;
  width: 1000px;
  height: 1350px;
  background-color: rgba(40, 44, 52, 0.5);
  display: flex;
  flex-direction: column;
}

.fridge-fest-logo {
  font-family: 'vcr_osd_monoregular';
  font-size: 90px;
  margin: auto;
}

.ff-sign {
  width: 900px;
  height: 260px;
  background-image: url('ff-sign.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px auto 0 auto;
  display: flex;
}

.details-div {
  width: 800px;  
  height: 900px;
  padding: 10px;
  margin: 5px auto 30px auto;
  background-color: rgba(40, 44, 52, 0.8);
  color: #F1E8DE;
  
  h2 {
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 35px;
    font-weight: 0;
    margin-top: 70px;
  }
  
  p {
    font-family: 'vcr_osd_monoregular';
    font-size: 18px;
  }
  
  .fridge {
    background-image: url('./images/fridge.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 83px;
    width: 68px;
    margin: 20px auto;
  }
  
  .food-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin: 20px auto;
  }
  
  .food {
    margin: auto, 0;
  }
  
  .main-pizza {
    background-image: url('./images/Pizza.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
  }
  
  .main-donut {
    background-image: url('./images/Donut.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 44px;
  }
  
  .main-ramen {
    background-image: url('./images/Ramen.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 47px;
    width: 38px;
  }
  
  .main-milkshake {
    background-image: url('./images/Milkshake.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 46px;
    width: 22px;
  }
  
  .main-chocolate {
    background-image: url('./images/Candy_Bar.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 41px;
    width: 46px;
  }
  
  .powerup-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin: 20px auto;
  }
  
  .main-fast {
    background-image: url('./images/Fast.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 38px;
    width: 44px;
  }
  
  .main-teleport {
    background-image: url('./images/Teleport.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 44px;
    width: 44px;
  }
  
  .main-slow {
    background-image: url('./images/Slow.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 44px;
    width: 38px;
  }
  
  .main-lightning {
    background-image: url('./images/Lightning.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 42px;
    width: 24px;
  }
}

.detail-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.instructions {
  background-image: url('./Instructions.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 405px;
  height: 78px;
  margin-right: 40px;
}

.demo-button {
  font-family: 'minecraftmedium';
  font-size: 30px;
  width: 160px;
  background-color:rgb(23, 122, 252);
  outline: 0;
  border: 3px solid black;
  border-radius: 20px;
  line-height: 74px;
}

.demo-button:hover {
  cursor: pointer;
  background-color: rgb(131, 185, 255);
}

