.food-container-subclass {
    height: 50px;
    width: 250px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.pyramid-div {
    width: 370px;
    height: 300px;
    display: flex;
    margin-top: 36px;
    margin-left: 30px;
}

.food-container {
    background-color: #eee;
    display: flex;
    margin: auto 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    /* clip-path: polygon(50% 0, 0% 100%, 100% 100%); */
}

.food-item-container {
    display: inline-block;
    width: 150px;
    margin: 16px 0 0 8px;
    position: absolute;
    z-index: 5;
}

.food-item-progress-bar {
    // display: inline-block;
    min-width: 0px;
    height: 50px;
    background-color: yellow;
    z-index: 1;
}