
//lobby main
/////////////////////////
.lobby-container {
  height: 1000px;
  width: 100%;
  position: relative;
}

//Waiting Players
//////////////////



// Leaderboard
/////////
/////////
/////////

.leaderboard-container {
  width: 500px;
  height: 600px;
  outline: black;
  background: pink;
  position: absolute;
  top: 20%;
  left: 10%;
}

///PlayersLoaded
///
///
///

.players-loaded-container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background: pink;
  position: absolute;
  top: 20%;
  right: 0%;
}


///Chat
///
///
///


.chat-container {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  background: pink;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
