@font-face {
  font-family: 'minecraftmedium';
  src: url('../fonts/minecraft-webfont.woff2') format('woff2'),
    url('../fonts/minecraft-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vcr_osd_monoregular';
  src: url('../fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
    url('../fonts/vcr_osd_mono_1.001-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: url('../images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
